

.ql-editor p img{
    width: 100%;
    max-width:25rem !important;
    height:auto;
    max-height:30rem ;
    border-radius:0.5rem;
    display: block;
    margin:1rem auto;
    object-fit: contain;
    margin:auto 0;
}

.ql-editor img[alt="TitleImage"]{
    width:100%;
    max-width:80% !important;
    max-height:30rem ;
    height:auto;
    border-radius:1rem;
    margin:auto 0;
}

  
.ql-editor p{
    font-size: larger;
}
.ql-editor h2{
    font-weight: bold;
}


/* const array = [3, 8, 1, 88, 23, 42, 33, 9, 73];

        const topSorting = (arr) => {
            if(arr.length < 2){
                return 0;
            }
            debugger
            const mid = Math.floor(arr.length / 2);
            let firstHalf= arr.slice(0, mid);
            let secondHalf =arr.slice(mid);
            console.log("firstHalf: ", firstHalf);
            console.log("second Half: ", secondHalf);
            return topSorting(firstHalf), topSorting(secondHalf);
        }
topSorting(array) */